{
    "filament_extruder_variant": [
        "Direct Drive Standard"
    ],
    "filament_prime_volume": [
        "45"
    ],
    "filament_settings_id": [
        "Bambu PLA Basic @BBL P1P(Alkemugger.3mf)"
    ],
    "from": "project",
    "inherits": "Bambu PLA Basic @BBL P1P",
    "name": "Bambu PLA Basic @BBL P1P(Alkemugger.3mf)",
    "version": "1.10.1.50"
}
