<?xml version="1.0" encoding="UTF-8"?>
<config>
  <header>
    <header_item key="X-BBL-Client-Type" value="slicer"/>
    <header_item key="X-BBL-Client-Version" value="02.02.01.60"/>
  </header>
  <plate>
    <metadata key="index" value="1"/>
    <metadata key="extruder_type" value="0"/>
    <metadata key="nozzle_volume_type" value="0"/>
    <metadata key="printer_model_id" value="C11"/>
    <metadata key="nozzle_diameters" value="0.4"/>
    <metadata key="timelapse_type" value="0"/>
    <metadata key="prediction" value="70178"/>
    <metadata key="weight" value="448.32"/>
    <metadata key="outside" value="false"/>
    <metadata key="support_used" value="true"/>
    <metadata key="label_object_enabled" value="true"/>
    <metadata key="filament_maps" value="1 1 1 1"/>
    <metadata key="limit_filament_maps" value="0 0 0 0"/>
    <object identify_id="482" name="Alkemugg.stl 7" skipped="false" />
    <object identify_id="493" name="Alkemugg.stl 7" skipped="false" />
    <object identify_id="515" name="Alkemugg.stl 7" skipped="false" />
    <object identify_id="537" name="Alkemugg.stl 7" skipped="false" />
    <object identify_id="559" name="Alkemugg.stl 7" skipped="false" />
    <object identify_id="581" name="Alkemugg.stl 7" skipped="false" />
    <object identify_id="603" name="Alkemugg.stl 7" skipped="false" />
    <object identify_id="625" name="Alkemugg.stl 7" skipped="false" />
    <object identify_id="647" name="Alkemugg.stl 7" skipped="false" />
    <object identify_id="669" name="Alkemugg.stl 7" skipped="false" />
    <object identify_id="691" name="Alkemugg.stl 7" skipped="false" />
    <object identify_id="713" name="Alkemugg.stl 7" skipped="false" />
    <object identify_id="735" name="Alkemugg.stl 7" skipped="false" />
    <object identify_id="757" name="Alkemugg.stl 7" skipped="false" />
    <object identify_id="779" name="Alkemugg.stl 7" skipped="false" />
    <object identify_id="801" name="Alkemugg.stl 7" skipped="false" />
    <object identify_id="823" name="Alkemugg.stl 7" skipped="false" />
    <filament id="1" tray_info_idx="GFA00" type="PLA" color="#000000" used_m="31.38" used_g="95.10" />
    <filament id="2" tray_info_idx="GFA00" type="PLA" color="#FFFFFF" used_m="116.55" used_g="353.22" />
    <warning msg="bed_temperature_too_high_than_filament" level="3" error_code ="1000C001"  />
    <layer_filament_lists>
      <layer_filament_list filament_list="1" layer_ranges="0 26,312 324" />
      <layer_filament_list filament_list="0 1" layer_ranges="27 311" />
    </layer_filament_lists>
  </plate>
</config>
